/* Редактирование шрифтов*/

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('Satoshi-Regular.woff2') format('woff2'),
         url('Satoshi-Regular.woff') format('woff'),
         url('Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('Satoshi-Medium.woff2') format('woff2'),
         url('Satoshi-Medium.woff') format('woff'),
         url('Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }

.satoshi-400 {
    font-family: 'Satoshi-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(10, 15, 13);
}

.satoshi-500 {
    font-family: 'Satoshi-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: rgba(10, 15, 13);
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    width: 1440px;
    height: 7449px;
    background: #FEFEF9;
    border: 2px solid #000;  /* Чтобы выдеть границы*/
}

/* Редактирование стилей навигации*/

.navigation {
    position: absolute;
    width: 1170px;
    height: 40px;
    left: 135px;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.Platform, .Resources, .Portfolio, .Company {
    margin: 0 17px 0 17px;
}

.menu img {
    margin-left: 4px;
}

.buttons {
    width: 187px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Platform {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Resources {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    border: 1px solid #000;
    border-radius: 40px;
    width: 128px;
    height: 40px;
    background: #FEFEF9;
}

/* Редактирование карточек и текста рядом*/

.cards-image {
    position: absolute;
    width: 149px;
    height: 273.5px;
    left: 161px;
    top: 184.01px;
}

.cards-card-01 {
    position: absolute;
    width: 177px;
    height: 185px;
    left: 135px;
    top: 473.51px;
}

.cards-card-02 {
    position: absolute;
    width: 298.76px;
    height: 339.51px;
    left: 368px;
    top: 237px;
}

.cards-icons {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 436px;
    top: 676px;
}

.cards-icons2 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 374px;
    top: 615px;
}

.cards-icons3 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 497px;
    top: 615px;
}

.cards-bg-line {
    position: absolute;
    width: 403.5px;
    height: 502px;
    left: 275.5px;
    top: 175px;
    z-index: -1;
}

.cards-bg-blur {
    position: absolute;
    width: 568px;
    height: 324px;
    left: 161px;
    top: 268px;
    z-index: -2;
}

.text {
    position: absolute;
    width: 470px;
    height: 443px;
    left: 835px;
    top: 236px;
    display: flex;
    flex-direction: column;
}

.text h1 {
    width: 470px;
    height: 256px;
    font-size: 64px;
    line-height: 64px;
    margin: 0;
}

.text p {
    width: 455px;
    height: 84px;
    font-size: 18px;
    line-height: 28px;
    margin: 24px 0 0 0;
}

.text .button-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 191px;
    height: 43px;
    margin: 36px 0 0 0;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.button-block img {
    margin-left: 20px;
}

.button-block .line {
    position: absolute;
    top: 443px;
    width: 126px;
    height: 0px;
    border: 1px solid #0A0F0D;
}

/* Редактирование секции с логотипами*/

.logo-section {
    position: absolute;
    width: 1170px;
    height: 184px;
    left: 135px;
    top: 858px;
    border-top: 1px solid #0A0F0D;
    border-bottom: 1px solid #0A0F0D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-section p {
    width: 195px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    margin: 44px 0 0 0;
}

.logo-container {
    width: 1170px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 44px 0;
}

/* Редактирование первой секции с услугами */

.services-01-section {
    position: absolute;
    width: 1170px;
    height: 661px;
    left: 135px;
    top: 1182px;
}

.services-01-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-01-text p {
    width: 498px;
    height: 54px;
    font-size: 54px;
    line-height: 54px;
    margin: 0;
}

.services-01-cards {
    display: flex;
    width: 1170px;
    height: 537px;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.card1, .card2, .card3 {
    width: 370px;
    height: 537px;
    border: 1px solid #0A0F0D;
    border-radius: 14px;
}

.services-01-cards h2 {
    font-size: 34px;
    line-height: 38px;
    color: #0A0F0D;
}

.services-01-cards p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(10, 15, 13, 0.8);
}

.card1 {
    background: #EBFFDB;
}

.card2 {
    background: #D5E9F8;
}

.card3 {
    background: #C5B6F0;
}

.card1 h2, .card3 h2 {
    width: 306px;
    height: 76px;
    margin: 40px 32px 0 32px;
}

.card1 p, .card3 p {
    width: 306px;
    height: 84px;
    margin: 16px 32px 0 32px;
}

.card1 img {
    margin: 18px 43px 0 43px;
}

.card2 img {
    margin: 0 22px 0 26px;
}

.card2 h2 {
    width: 306px;
    height: 76px;
    margin: 35px 32px 0 32px;
}

.card2 p {
    width: 306px;
    height: 84px;
    margin: 16px 32px 40px 32px;
}

.card3 img {
    margin: 69px 28px 0 28px;
}

/* Начало вёрстки секции Features 02 Section */

.features-02-section {
    width: 1170px;
    height: 1526px;
    position: absolute;
    left: 135px;
    top: 2000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.features-text {
    width: 565px;
    height: 194px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-text h2 {
    font-size: 54px;
    line-height: 54px;
    color: #0A0F0D;
    margin: 0 0 20px 0;
}

.features-text p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(10, 15, 13, 0.8);
    margin: 0 0 32px 0;
    text-align: center;
}

.button {
    width: 164px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.button p {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #0A0F0D;
    margin: 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #0A0F0D;
}

.button img {
    margin-top: 3px;
}

/* Начало редактирования features-cards-box*/

.features-cards-box {
    width: 1170px;
    height: 1262px;
    display: flex;
    flex-wrap: wrap;
}

.features-cards-box .row1, .features-cards-box .row2 {
    display: flex;
    justify-content: space-between;
}

.features-cards-box .row1 {
    width: 1170px;
    height: 616px;
    margin-bottom: 50px;
}

.features-cards-box .row2 {
    width: 1170px;
}

.sales-data-and-site-performance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quick-view {
    width: 370px;
    height: 616px;
    background: #EBFFDB;
    border: 1px solid #0A0F0D;
    border-radius: 14px;
}

.quick-view h3 {
    width: 173px;
    height: 34px;
    margin: 40px 157px 26px 40px;
}

.style-h3 {
    font-size: 34px;
    line-height: 34px;
    color: #0A0F0D;
}

.style-ul {
    font-size: 16px;
    line-height: 24px;
    color: rgba(10, 15, 13, 0.8);
}

.quick-view ul, .sales-data ul, .site-performance ul, .channel-efficiency ul, .interactive ul {
    margin: 0;
    padding-left: 60px;
}

.quick-view li, .sales-data li, .channel-efficiency li, .interactive li {
    padding-left: 12px;
}

.quick-view li:first-child {
    width: 274px;
    height: 48px;
    margin: 0 28px 14px 0;
}

.quick-view li:last-child {
    width: 274px;
    height: 72px;
    margin: 0 28px 121px 0;
}

.quick-view li::marker {
    content: url(marker/marker1.svg);
}

.quick-view img {
    margin-left: 39px;
}

.sales-data {
    width: 770px;
    height: 286px;
    background: #FFFBA0;
    border: 1px solid #0A0F0D;
    border-radius: 14px;
}

.sales-data h3 {
    width: 160px;
    height: 34px;
    margin: 39px 264px 26px 46px;
}

.sales-data li::marker, .channel-efficiency li::marker {
    content: url(marker/marker2.svg);
}

.sales-data li:first-child {
    width: 324px;
    height: 24px;
}

.sales-data li {
    width: 324px;
    height: 48px;
    margin: 0 78px 14px 0;
}

.sales-data img {
    position: absolute;
    right: 40px;
    top: 305px;
}


.site-performance {
    width: 770px;
    height: 286px;
    background: #C5B6F0;
    border: 1px solid #0A0F0D;
    border-radius: 14px;
}

.site-performance h3 {
    margin: 42px 200px 20px 40px;
}

.site-performance li {
    padding-left: 14px;
}

.site-performance li::marker {
    content: url(marker/marker3.svg);
}

.site-performance li:first-child {
    width: 268px;
    height: 24px;
    margin: 0 167px 14px 0;
}

.site-performance li {
    width: 324px;
    height: 48px;
    margin: 0 111px 14px 0;
}

.site-performance img {
    position: absolute;
    right: 0;
    top: 628px;
}

.channel-efficiency {
    width: 570px;
    height: 596px;
    background: #D5E9F8;
    border: 1px solid #0A0F0D;
    border-radius: 14px;
}

.channel-efficiency h3 {
    width: 286px;
    height: 34px;
    margin: 40px 244px 26px 40px;
}

.channel-efficiency li {
    margin-bottom: 14px;
}

.channel-efficiency img {
    position: absolute;
    left: 143px;
    top: 1194px;
}

.interactive {
    width: 570px;
    height: 596px;
    background: #FEF4DB;
    border: 1px solid #0A0F0D;
    border-radius: 14px;
}

.interactive h3 {
    width: 160px;
    height: 34px;
    margin: 40px 370px 26px 40px;
}

.interactive li::marker {
    content: url(marker/marker1.svg);
}

.interactive li {
    margin-bottom: 14px;
}

.interactive img[alt="card5.2"] {
    position: absolute;
    bottom: -2px;
    right: 71px;
}

.interactive img[alt="card5.1"] {
    position: absolute;
    bottom: 37px;
    right: 329px;
    order: 1;
}

/* Начало редактирования services-02-section*/

.services-02-section {
    width: 1170px;
    height: 630px;
    position: absolute;
    left: 135px;
    top: 3750px;
    border: 1px solid red;
}

.services-02-text-and-button {
    width: 1170px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-02-text {
    width: 470px;
    height: 130px;
}

.services-02-text h2 {
    width: 464px;
    height: 54px;
    font-size: 54px;
    line-height: 54px;
    color: #0A0F0D;
    margin:0 0 20px 0;
}

.services-02-text p {
    width: 470px;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(10, 15, 13, 0.8);
    margin: 0;
}

.services-02-button {
    width: 164px;
    height: 32px;
    margin-right: 20px;
}

.cards-style {
    width: 370px;
    height: 430px;
    border: 1px solid #0A0F0D;
    border-radius: 14px;
}

.services-02-cards {
    display: flex;
    width: 1170px;
    height: 430px;
    margin-top: 70px;
    justify-content: space-between;
}

.services-02-cards div {
    background: #D5E9F8;
}

.services-02-cards div:first-child {
    background: #C5B6F0;
}

.services-02-cards div:last-child {
    background: #EBFFDB;
}