/* Редактирование шрифтов*/

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('Satoshi-Regular.woff2') format('woff2'),
         url('Satoshi-Regular.woff') format('woff'),
         url('Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('Satoshi-Medium.woff2') format('woff2'),
         url('Satoshi-Medium.woff') format('woff'),
         url('Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }

.satoshi-400 {
    font-family: 'Satoshi-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(10, 15, 13);
}

.satoshi-500 {
    font-family: 'Satoshi-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: rgba(10, 15, 13);
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    width: 1440px;
    height: 7449px;
    background: #FEFEF9;
    border: 2px solid #000;  /* Чтобы выдеть границы*/
}

/* Редактирование стилей навигации*/

.navigation {
    position: absolute;
    width: 1170px;
    height: 40px;
    left: 135px;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.Platform, .Resources, .Portfolio, .Company {
    margin: 0 17px 0 17px;
}

.menu img {
    margin-left: 4px;
}

.buttons {
    width: 187px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Platform {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Resources {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    border: 1px solid #000;
    border-radius: 40px;
    width: 128px;
    height: 40px;
    background: #FEFEF9;
}

/* Редактирование карточек и текста рядом*/

.cards-image {
    position: absolute;
    width: 149px;
    height: 273.5px;
    left: 161px;
    top: 184.01px;
}

.cards-card-01 {
    position: absolute;
    width: 177px;
    height: 185px;
    left: 135px;
    top: 473.51px;
}

.cards-card-02 {
    position: absolute;
    width: 298.76px;
    height: 339.51px;
    left: 368px;
    top: 237px;
}

.cards-icons {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 436px;
    top: 676px;
}

.cards-icons2 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 374px;
    top: 615px;
}

.cards-icons3 {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 497px;
    top: 615px;
}

.cards-bg-line {
    position: absolute;
    width: 403.5px;
    height: 502px;
    left: 275.5px;
    top: 175px;
    z-index: -1;
}

.cards-bg-blur {
    position: absolute;
    width: 568px;
    height: 324px;
    left: 161px;
    top: 268px;
    z-index: -2;
}

.text {
    position: absolute;
    width: 470px;
    height: 443px;
    left: 835px;
    top: 236px;
    display: flex;
    flex-direction: column;
}

.text h1 {
    width: 470px;
    height: 256px;
    font-size: 64px;
    line-height: 64px;
    margin: 0;
}

.text p {
    width: 455px;
    height: 84px;
    font-size: 18px;
    line-height: 28px;
    margin: 24px 0 0 0;
}

.text .button-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 191px;
    height: 43px;
    margin: 36px 0 0 0;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.button-block img {
    margin-left: 20px;
}

.button-block .line {
    position: absolute;
    top: 443px;
    width: 126px;
    height: 0px;
    border: 1px solid #0A0F0D;
}

/* Редактирование секции с логотипами*/

.logo-section {
    position: absolute;
    width: 1170px;
    height: 184px;
    left: 135px;
    top: 858px;
    border-top: 1px solid #0A0F0D;
    border-bottom: 1px solid #0A0F0D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-section p {
    width: 195px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    margin: 44px 0 0 0;
}

.logo-container {
    width: 1170px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 44px 0;
}

/* Редактирование первой секции с услугами */

.services-01-section {
    position: absolute;
    width: 1170px;
    height: 661px;
    left: 135px;
    top: 1182px;
}

.services-01-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-01-text p {
    width: 498px;
    height: 54px;
    font-size: 54px;
    line-height: 54px;
    margin: 0;
}

.services-01-cards {
    display: flex;
    width: 1170px;
    height: 537px;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.card1, .card2, .card3 {
    width: 370px;
    height: 537px;
    border: 1px solid #0A0F0D;
    border-radius: 14px;
}

.services-01-cards h2 {
    font-size: 34px;
    line-height: 38px;
    color: #0A0F0D;
}

.services-01-cards p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(10, 15, 13, 0.8);
}

.card1 {
    background: #EBFFDB;
}

.card2 {
    background: #D5E9F8;
}

.card3 {
    background: #C5B6F0;
}

.card1 h2, .card3 h2 {
    width: 306px;
    height: 76px;
    margin: 40px 32px 0 32px;
}

.card1 p, .card3 p {
    width: 306px;
    height: 84px;
    margin: 16px 32px 0 32px;
}

.card1 img {
    margin: 18px 43px 0 43px;
}

.card2 img {
    margin: 0 22px 0 26px;
}

.card2 h2 {
    width: 306px;
    height: 76px;
    margin: 35px 32px 0 32px;
}

.card2 p {
    width: 306px;
    height: 84px;
    margin: 16px 32px 40px 32px;
}

.card3 img {
    margin: 69px 28px 0 28px;
}

/* Начало вёрстки секции Features 02 Section */

.features-02-section {
    width: 1170px;
    height: 1526px;
    border: 1px solid red;
    position: absolute;
    left: 135px;
    top: 2000px;
}